# Compiled output
node_modules/
dist/
.tmp/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Deployment
*.env
.azure
*.txt
*.iml
# DB Storage
.qdrant/

# OS
.DS_Store

# IDE
.vscode/settings.json
.vscode/launch.json
.idea/

# Java compiled files
*.class
**/target/